@page "/FizzBuzz"


<h1>Blazor FizzBuzz</h1>
<p>Write a program that prints the numbers from 1 to 100. But for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".</p>
    <div class="row">
        <div class="col-3">Fizz Value:</div>
        <div class="col"><input type="number" @bind="@FizzValue" /></div>
    </div>
    <div class="row">
        <div class="col-3">Buzz Value:</div>
        <div class="col"><input type="number" @bind="@BuzzValue" /></div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" @onclick="FizzBuzzIt">FizzBuzz It</button>
        </div>
    </div>   

    @if (buzzItems.Count() > 0)
    {
        <div class="row pt-5">
            <div class="table-responsive col">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                        <tr><th colspan="10">Results for Fizz Buzz</th></tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < 100; i += 10)
                        {
                        <tr>
                            <td class="@buzzItems[i].Classname">@buzzItems[i].Value</td>
                            <td class="@buzzItems[i+1].Classname">@buzzItems[i + 1].Value</td>
                            <td class="@buzzItems[i+2].Classname">@buzzItems[i + 2].Value</td>
                            <td class="@buzzItems[i+3].Classname">@buzzItems[i + 3].Value</td>
                            <td class="@buzzItems[i+4].Classname">@buzzItems[i + 4].Value</td>
                            <td class="@buzzItems[i+5].Classname">@buzzItems[i + 5].Value</td>
                            <td class="@buzzItems[i+6].Classname">@buzzItems[i + 6].Value</td>
                            <td class="@buzzItems[i+7].Classname">@buzzItems[i + 7].Value</td>
                            <td class="@buzzItems[i+8].Classname">@buzzItems[i + 8].Value</td>
                            <td class="@buzzItems[i+9].Classname">@buzzItems[i + 9].Value</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }


@functions {

    List<BuzzItem> buzzItems = new List<BuzzItem>();

    private int FizzValue = 3;
    private int BuzzValue = 5;

    bool Fizz = false;
    bool Buzz = false;

    void FizzBuzzIt()
    {
        if (buzzItems.Count > 0)
        {
            buzzItems.Clear();
        }

        for (var i = 1; i <= 100; i++)
        {
            Fizz = (i % FizzValue == 0);
            Buzz = (i % BuzzValue == 0);

            if(Fizz && Buzz)
            {
                buzzItems.Add(new BuzzItem { Value ="FizzBuzz", Classname = "fizzBuzz" });
            }
            else if (Fizz)
            {
                buzzItems.Add(new BuzzItem { Value ="Fizz", Classname = "fizz" });
            }
            else if (Buzz)
            {
                buzzItems.Add(new BuzzItem { Value ="Buzz", Classname = "buzz" });
            }
            else
            {
                buzzItems.Add(new BuzzItem { Value =i.ToString(), Classname = "noBuzz" });
            }
        }
    }


    class BuzzItem
    {
        public string Value { get; set; }
        public string Classname { get; set; }
    }
}
